<!DOCTYPE html>
<html>
	<head>
		<title>Riak Browser</title>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

  </head>
  <body>
		<div class="container-fluid">
			<%if @error then %>
			<div class="alert alert-error"><%=@error%></div>
			<% end %>
			<div class="row-fluid">
				<div class="span10 offset1">
					<ul class="breadcrumb">
						<% length = @breadcrumbs.length %>
						<% @breadcrumbs.each_index do |index| %>
							<% if index == length - 1 %>
								<li class="active"><%= @breadcrumbs[index]['name'] %></li>
							<% else %>
						<li><a href="<%= @breadcrumbs[index]['link'] %>"><%= @breadcrumbs[index]['name'] %></a> <span class="divider">></span></li>
							<% end %>
						<% end %>
					</ul>
				</div>
			</div>
			<%= yield %>
		</div>
		<!-- Placed at the end of the document so the pages load faster -->
    <script src="/jquery-1.8.1.min.js" type="text/javascript"></script>
    <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	</body>
</html>
